RewriteEngine On

RewriteCond %{THE_REQUEST} \s/+(.+)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^$ index.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^register/?$ register.php [L]
RewriteRule ^dashboard/?$ dashboard.php [L]
RewriteRule ^donate/?$ donate.php [L]
RewriteRule ^admin/?$ admin.php [L]
RewriteRule ^orphanage/?$ orphanage.php [L]
RewriteRule ^logout/?$ logout.php [L]
